@import "tailwindcss";

@theme {
  --color-background: #121212;
  --color-foreground: #ededed;

  /* Custom Colors */
  --color-silver: #b6b6b8;
  --color-cool-gray: #9CA3AF;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Utilities */
@utility glass {
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  background-color: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

@keyframes bounce-subtle {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10%);
  }
}

@utility shimmer {
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shimmer 3s infinite linear;
}

@utility animate-bounce-subtle {
  animation: bounce-subtle 3s ease-in-out infinite;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
  /* Prevent horizontal scroll */
}

@keyframes loading-bar {
  0% {
    left: -100%;
    width: 100%;
  }

  50% {
    left: 0%;
    width: 100%;
  }

  100% {
    left: 100%;
    width: 100%;
  }
}

@utility loading-bar-animate {
  animation: loading-bar 1.4s ease-in-out infinite;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@utility animate-fade-in {
  animation: fade-in 0.75s ease-in-out forwards;
}