@import "tailwindcss";

@theme {
  --color-background: #121212;
  --color-foreground: #ededed;

  /* Custom Colors */
  --color-silver: #b6b6b8;
  --color-cool-gray: #9CA3AF;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Utilities */
@utility glass {
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  background-color: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

@utility shimmer {
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shimmer 3s infinite linear;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
  /* Prevent horizontal scroll */
}